body {
  margin: 0;
}

.navbar {
  background-color: #db4c3f;
  height: 35px;
}

.innerCont {
  display: flex;
}

.sidebar {
  background-color: #fafafa;
  width: 20%;
  height: 100vh;
}

.mainDiv {
  width: 80%;
}

.sidebar li {
  font-size: 16px;
  color: #333;
  font-weight: bolder;
  list-style: none;
}

.popup {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 60px;
  width: 840px;
  position: absolute;
  top: 200px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f07989;
  cursor: pointer;
}
